.logo{
    width: 76px;
    height: 76px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 25px;
}
.color{
    text-align: center;
    width: 70%;
    margin-top: 76px;
    
}
div{
    width: 30%;
    margin: auto;
    text-align: center;
    
    
    
}
.container-position{
    width: 64%;
}
.main-container{
    width: 50%;
    box-shadow: 0 0 23px 1px rgba(0,0,0,.2);
}
.container-sub{
    width: 100%;
    text-align: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
    .
}

.pay-opt{
    max-width: 2cm;
    max-height: 1cm;
    
}

.radio1{
    border: 1px solid black;
    padding: 12px;
    width: 30%;
    margin: 12px;
    border-radius: 10px;
}
h5{
    text-align: left;
}

.label {
    font-size: 12px;
    color: #949dac;
    text-align: left;
    letter-spacing: .1em;
    line-height: 20px;
}
.amount {
    font-size: 16px;
    font-weight: 700;
    color: #051c3d;
    text-align: left;
    line-height: 20px;
}
.btn-pay{
    
        background-color: #1f96ff;
        border-radius: 4px;
        box-shadow: 0 2px 10px 1px rgba(0,0,0,.3);
        border: none;
        color: #fff;
        font-size: 12px;
        letter-spacing: .15em;
        line-height: 24px;
        padding: 7px 40px;
        margin: 25px auto 10px;
        display: block;
        
    }
    margin: 25px auto 10px;